/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
	font-family: 'Nunito Sans', sans-serif;
	background-color: #E3E8EA;
	color:#333;
}
h1,h2,h3,h4,h5,h6{
	font-weight:700;
}
.m-top-5{
	margin-top:5px;
}
.m-top-10{
	margin-top:10px;
}
.m-top-15{
	margin-top:15px;
}
.m-top-20{
	margin-top:20px;
}
.m-top-25{
	margin-top:25px;
}
.m-top-30{
	margin-top:30px;
}
.m-top-35{
	margin-top:35px;
}
.m-top-40{
  margin-top:40px;
}
.m-top-50{
	margin-top:50px;
}
.m-top-100{
	margin-top:100px;
}
.red-text p{
	color:red!important;
}


.m-bottom-5{
  margin-bottom:5px;
}
.m-bottom-10{
  margin-bottom:10px;
}
.m-bottom-15{
  margin-bottom:15px;
}
.m-bottom-20{
  margin-bottom:20px;
}
.m-bottom-25{
	margin-bottom:25px;
}
.m-bottom-30{
	margin-bottom:30px;
}
.m-bottom-35{
	margin-bottom:35px;
}
.m-bottom-40{
  margin-bottom:50px;
}
.m-bottom-50{
	margin-bottom:50px;
}
.m-bottom-100{
	margin-bottom:100px;
}





.p-top-10{
	padding-top:10px;
}
.p-top-20{
	padding-top:20px;
}
.p-top-25{
	padding-top:25px;
}
.p-top-50{
	padding-top:50px;
}
.p-top-100{
	padding-top:100px;
}

.p-bottom-10{
	padding-bottom:10px;
}
.p-bottom-20{
	padding-bottom:20px;
}
.p-bottom-25{
	padding-bottom:25px;
}
.p-bottom-50{
	padding-bottom:50px;
}
.p-bottom-100{
	padding-bottom:100px;
}
.breadcrumb{
	background-color:#FFF;
	border: 1px solid #DDD;
	margin-bottom:10px;
}
hr {
    margin-top: 0px;
    margin-bottom: 10px;
}
.navbar-inverse {
    background-color: #2D3A40;
	~border-color: #7F1228;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);
}
.navbar-top-links .nav>li>a {
    padding: 14px 10px;
    color: #FFF;
}

.dashBoard .btn h3{
	margin-top:0px;
	margin-bottom:0px;
}
.dashBoard .btn-lg{
	padding:30px 6px;
	border-radius:4px;
}

.form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-control, .form-control[readonly], .select2-container--default .select2-selection--single{
	background-color:#FFF;
	~border-radius:0px;
	border:1px dashed #666;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #FFF;
	cursor: not-allowed;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFF;
}
.table{
	border:1px solid #DDD;
	margin-bottom: 10px;
}
.table .form-group{
	margin-bottom:0px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}
.table>tbody>tr{
  background-color: #FFF;
}
.page-header{
    padding-bottom: 9px;
    margin: 40px 0 0px;
	font-size: 28px;
    font-weight: 700;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  ~min-height: 568px;
  background-color: #E3E8EA;
  margin-top:70px;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0px 0 0 240px;
    padding: 25px 30px;
   ~ border-left: 1px solid #e7e7e7;
  }
}
/*.navbar-inverse {
    background-color: #E7362E;
    border-color: #7F1228;
}*/
.fa-fw {
    width: 16px;
	margin-right:8px;
    text-align: center;
}
.navbar-brand{
	font-size:18px;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar{
	background-color:#263238;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {  
	border-top: 1px solid #454545;
	border-bottom: 1px solid #151515;
}
.sidebar ul li a{
	font-size: 14px;
	color: #FFF;
}
.sidebar ul li a:hover, .sidebar ul li a:focus  {
	background-color: #57666D;
}
.sidebar ul li a.active{
	background-color: #3092c1;
	color:#FFF;
}
.sidebar ul li a.active:hover {
	background-color: #57666D;
	color:#FFF;
}
.sidebar ul li a:hover{
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
	.sidebar {
		z-index: 1;
		position: fixed;			
		~bottom:0;
		margin-top: 51px;
		width: 250px;
		height:100%;
		overflow-y: auto;	
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.48);
		~padding-bottom: 50px;
		~border-right:1px solid #DDD;
	}
	.sidebar .last-link {
		padding-bottom:60px;
		border-bottom: 0px solid #151515;
	}	
	.navbar-top-links .dropdown-messages,
	.navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}
.nav>li>a{
	padding:12px 20px;
	color:#FFF;
}
.nav>li>a:hover, .nav>li>a:focus{
	background-color:#57666D;
	color:#FFF;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color:#57666D;
	color:#FFF;
}
.navbar-top-links.nav>li>a {
    padding: 15px 10px;
    color: #FFF;
}
.navbar-top-links.nav>li>a .fa-fw {
    font-size:18px
}
.navbar-top-links.nav>li>a label {
	position:relative;
	right: 15px;
    top: -15px;
	border-radius:50%;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.btn{
	webkit-box-shadow: 0 1px 0px 0 rgba(0,0,0,.25), 0 0px 0px 0 rgba(0,0,0,.20);
    box-shadow: 0 1px 0px 0 rgba(0,0,0,.25), 0 0px 0px 0 rgba(0,0,0,.20);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-title{
	 font-size: 22px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.panel{
	border:3px solid #337AB7;
}
.footer {
	margin-left:240px;
	background-color:#FFF;
	~border:3px solid #DDD;
}
.footer p{
	margin-bottom:0px;
	font-size:16px;
}
.select2-container .select2-selection--single{
	height:34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:34px;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border: 1px solid #aaa;
}
.warningSize {
    font-size: 14px;
}
.red-text {
    color: #f44336 !important;
}
.modal-content {
  background-color: #EEE;
}
.modal-header{
	background-color:#337AB7;
	color:#FFF;
	text-align:center;
}
.close{
	color: #FFF;
    opacity: 1;
}
img{
	width:100%;
}
@media print {
    body{
		~margin: 0mm 0mm 0mm 0mm;
	}
    .with_print {
        display: none;
    }
	.page-break	{
		display: block; page-break-before: auto;
	}
}

@page:first{
    margin: -17mm 5mm 0mm 5mm;
}
@page{
    margin: 2mm 5mm 3mm 5mm;
}
.quantity{
	display:inline-flex;
}
.quantity button{
    float: left;
}

.quantity input[type="number"]{
    width: 45px; 
    text-align: center;
    ~border-color: #fff !important;
    ~padding-left: 10px;
    padding-right: 5px;
    border-left: none;
    border-right: none;
    float: left;
    color: #3e454c!important;
	border-color:#EEEEEE;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.panel {
    border: 0px solid #337AB7;
}
.panel-custom>.panel-heading {
    color: #FFF;
    background-color: #455a64;
    border-color: #ddd;
    font-size: 20px;
    font-weight: 700;
}
.panel-heading{
	padding: 20px 15px;
}
.rotate{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.rotate.down{
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: 0px;
}
.btn:active,
.btn.active {
	outline: 0;
	-webkit-box-shadow: none;
		  box-shadow: none;
}
.developer .thumbnail{
	margin-bottom:0px;
}

.table .dark-header{
	background-color:#576E7A;
	color:#FFF;
}
.table>thead>tr>th {
  padding: 12px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
@media print {
  .with_print {
      display: none;
  }
  p{
    font-size: :12px;
  }
}
.setupBill a, .viewCustomerAccount a{
  text-decoration: none;
}
.thumbOne{
  background-color: #00ADB5;
}
.thumbTwo{
  background-color: #2980B9;
}
.thumbOne .caption, .thumbTwo .caption{
  color: #FFF;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    text-align: left;
    box-shadow: none;
    height: 34px;
    border: 1px dashed #666;
  }
.btn-group-vertical>.btn:hover, .btn-group>.btn:hover,.btn-group-vertical>.btn:focus, .btn-group>.btn:focus{
    background-color: #FFF;
  }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
  background-color: #FFF;
  border-color: #666;
  box-shadow: none;
}































