*{
	margin: 0;
	padding: 0;
}

@media (min-width: 768px){
#page-wrapper {
    position: inherit;
    margin: 40px 0 0 240px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
}
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-5{
    margin-bottom: 5px;
}

.page-header {
    margin: 20px 0px 0px 0px;
    border-bottom: 1px solid #eee;
    ~background-color: #fff;
    padding: 15px 0px 5px 0px;
    border: 1px solid #f2f2f2;
    ~border-top: 1px solid #555;
    border-radius: 5px;
}

.breadcrumb{
	background-color: transparent;
	padding: 0px 0px;
    margin-bottom: 5px;
}

.breadcrumb li>a{
	font-size: 15px;
}

.jumborton {
    margin: 15px 0 20px;
    background-color: #fff;
    padding: 25px 25px 25px 25px;
    border: 1px solid #f2f2f2;
    border-top: 1px solid #555;
    border-radius: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbb;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus{
	border-color: #ddd;
	outline: none;
	box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.errorClass p{
    color: red;
}

/*Add Member*/

button{
    margin-right: 10px;
}

.add-buttons a{
	margin-right: 10px;
}

.add-buttons .add{
    background-color: #40A798;
    color: #fff;
}
.save{
    background-color: #18587A;
    color: #fff;
}

.cancel{
	background-color: #0EA47A;
	color: #fff;
}

.add-buttons .reset{
	background-color: #EB4A5F;
	color: #fff;
}

.btn:focus, .btn:hover{
    color: #fff;
}

/*All User*/
.table{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.table .thead-inverse{
	~background-color: #F2F4F8;
	background-color: #18587A;
	color: #fff;
}

.table .option a{
	color: #18587A;
}

.table .option a:focus, a:hover {
    text-decoration: none; 
}

/*Member Details*/


.edit-buttons a{
    margin-right: 10px;
}

.edit{
    background-color: #474168;
    color: #fff;
}

.back{
    background-color: #0C8282;
    color: #fff;
}

.profile-image img {
    border: 1px solid #9e9e9e;
    padding: 10px;
}

/*Attendence Sheet*/

.attendenceTable{
    margin-top: 20px;
}

/* Profile page*/

 .profile-table .table>tbody>tr>th, .profile-table .table>tbody>tr>td{
    padding: 10px;
    border-top: none;
}
.profile-table .table{
    box-shadow: none;
    max-width: 500px;
}

.create{
    color: #fff;
    background-color: #18587A;
    border-color: #18587A;
}

.committee-add{
    background-color: #18587A;
    color: #fff;
}

.news-main-image{
    height:260px;
    width:250px;
    overflow: hidden;
}

.news-main-image img{
    height: auto;
    width: 100%;

}

/*Notification Page*/

.notification .nav>li>a {
    color: #000;
}

.notification .nav>li>a:hover {
    color: #fff;
    cursor: default;
    background-color: #46466E;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}