* {
    margin: 0;
    padding: 0;
}

::selection {
    color: #00ADB5;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #15B7B9;
}

.c-container {
    margin: 0 30px;
}

@media (max-width: 360px) {
    .c-container {
        margin: 0;
    }
}



/*navbar*/

nav {
    text-transform: uppercase;
    color: #15B7B9;
    font-family: 'Montserrat Alternates', sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.14);
}

nav .navbar-brand img {
    width: 100px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 1px 30px;
    font-size: 18px;
    line-height: 20px;
}

@media (max-width: 360px) {
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
    }
}

nav.navbar.bootsnav ul.navbar-center li.dropdown ul.dropdown-menu li a:hover,
nav.navbar.bootsnav ul.nav>li>a:hover {
    background-color: #eee;
}




/*Heading*/

#club-history {
    background-color: #15B7B9;
    color: #fff;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding: 100px 0;
    margin-top: 80px;
}

#club-history .history-heading h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 55px;
}

@media (max-width: 360px) {
    #club-history .history-heading h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 35px;
    }
}



/*news*/

#news {
    padding: 30px 0;
}

#news .latest-news h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #15B7B9;
}

#news .latest-news {
    margin-bottom: 40px;
}

#news .panel-heading {
    margin-top: 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #15B7B9;
    border-color: #ddd;
    text-align: center;
}

.panel-heading {
    font-family: 'Montserrat Alternates', sans-serif;
}

.panel {
    ~margin: 25px;
    margin-bottom: 44px;
}

.thumbnail a>img,
.thumbnail>img {
    width: 334px;
    height: 207px;
}

.news-details p {
    font-family: 'Cardo', serif;
    color: #000;
}

.news-details a {
    color: #15B7B9;
    font-family: 'Cardo', serif;
}

.thumbnail {
    border-color: transparent;
}




/*footer*/

#copywrite-footer {
    padding: 20px 0;
    background-color: #15B7B9;
    border: 1px solid #eee;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}

#copywrite-footer .cf-left {
    float: left;
}

#copywrite-footer .cf-left h4 {
    color: #fff;
}

#copywrite-footer .cf-right {
    float: right;
}

#copywrite-footer .cf-left i,
#copywrite-footer .cf-left h4,
#copywrite-footer .cf-right {
    display: inline-block;
}