* {
    margin: 0;
    padding: 0;
}

::selection {
    color: #00ADB5;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #15B7B9;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #15B7B9;
    margin: 20px 0 30px;
}





/*navbar*/

nav {
    text-transform: uppercase;
    color: #15B7B9;
    font-family: 'Montserrat Alternates', sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.14);
}

nav .navbar-brand img {
    width: 100px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 1px 30px;
    font-size: 18px;
    line-height: 20px;
}

@media (max-width: 360px) {
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
    }
}

nav.navbar.bootsnav ul.navbar-center li.dropdown ul.dropdown-menu li a:hover,
nav.navbar.bootsnav ul.nav>li>a:hover {
    background-color: #eee;
}




/*club-history*/

#club-history {
    background-color: #15B7B9;
    color: #fff;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding: 100px 0;
    margin-top: 80px;
}

#club-history .history-heading h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 55px;
    color: #fff;
}

@media (max-width: 360px) {
    #club-history .history-heading h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 35px;
    }
}


#club-history .history-heading h3 {
    font-family: 'Cardo', serif;
}





/*signin*/

#login {
    padding: 50px 0;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 120px 0px  60px 0px;
}

.signin button {
    margin: 10px;
    border: 2px solid #15B7B9;
    border-radius: 11px;
    padding: 10px 35px;
    font-size: 22px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.panel {
    box-shadow: 1px 4px 23px rgba(0, 0, 0, 0.20);
}

.panel-heading {
    margin: 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #15B7B9;
    border-color: #ddd;
    padding: 20px;
    text-align: center;
}

form {
    margin: 10px 0;
}


.form-control {
    display: block;
    width: 100%;
    height: 53px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #15B7B9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.nav-tabs {
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #15B7B9;
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    color: #15B7B9;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #15B7B9;
    background-color: #15B7B9;
    color: #fff;
}






/*footer*/

#copywrite-footer {
    padding: 20px 0;
    background-color: #15B7B9;
    border: 1px solid #eee;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}

#copywrite-footer .cf-left {
    float: left;
}

#copywrite-footer .cf-left h4 {
    color: #fff;
}

#copywrite-footer .cf-right {
    float: right;
}

#copywrite-footer .cf-left i,
#copywrite-footer .cf-left h4,
#copywrite-footer .cf-right {
    display: inline-block;
}