@media (min-width: 360px) {
    .navbar-brand {
        height: 50px;
        padding: 0 5px;
        font-size: 18px;
        line-height: 20px;
    }
}
@media (min-width: 1024px) {
	 nav.navbar.bootsnav ul.nav > li > a {
        /*padding: 20px 10px;
        font-weight: 500;
        font-size: 13px;*/
        padding: 15px 6px;
        font-weight: 500;
        font-size: 11px;
    }
	
	.navbar-brand {
        height: 50px;
        padding: 0 26px;
        font-size: 18px;
        line-height: 20px;
    }

    /*custom*/
    nav .navbar-brand img {
        width: 87px;
    }
}
@media (min-width: 1519px){
	nav.navbar.bootsnav ul.nav > li > a {
        padding: 20px 10px;
        font-weight: 500;
        font-size: 13px;*
    }
	
	.navbar-brand {
        height: 50px;
        padding: 0 26px;
        font-size: 18px;
        line-height: 20px;
    }
		
    /*custom*/
    nav .navbar-brand img {
        width: 100px;
    }
}


