* {
    margin: 0;
    padding: 0;
}

::selection {
    color: #00ADB5;
}

h1 {
    color: #15B7B9;
}





/*header*/

#header {
    background-color: #15B7B9;
    color: #F5F5F5;
    font-family: 'Montserrat Alternates', sans-serif;
}

#header .header-address {
    margin-top: 17px;
    float: right;
}

#header .header-address i {
    margin-right: 6px;
}

#header .header-address li {
    list-style: none;
    display: inline;
    margin: 2px 10px 15px 0px;
}

#header .fst-logo img {
    width: 60px;
    height: auto;
}
#header .header-button button{
	margin: 10px 0px;
    border: 2px solid #fff;
    border-radius: 11px;
	color: #fff;
	background: transparent;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}
#header .header-button .dropdown-menu {
    min-width: 200px;
    color: #000;
    padding: 10px;
	border: 1px solid #000;
}
#header .header-button .dropdown-menu p{
	line-height: 30px;
}
	


/*navbar*/

nav {
    text-transform: uppercase;
    color: #15B7B9;
    font-family: 'Montserrat Alternates', sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.14);
}

nav .navbar-brand img {
    width: 100px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 1px 30px;
    line-height: 20px;
}

nav.navbar.bootsnav ul.navbar-center li.dropdown ul.dropdown-menu li a:hover, nav.navbar.bootsnav ul.nav > li > a:hover {
    background-color: #eee; 
}

/*@media (max-width: 360px) {
    nav .navbar-brand img {
    width: 87px;
}
}*/



/*national anthem*/

.national-anthem {
    text-align: center;
}

.national-anthem h1 {
    color: #000;
}

.national-anthem p {
    font-size: 13px;
    line-height: 15px;
    margin-top: 21px;
}

.dv-header h1 span {
    border-bottom: 2px solid #15B7B9;
}






/*rotary-notice*/

#rotary-notice {
    padding: 30px 0;
}

#rotary-notice hr {
    /*margin-top: 7px;
    margin-bottom: 20px;*/
    border: 0;
    border-top: 1px solid #15B7B9;
    ~width: 62%;
}


/*Notice Board*/

.notice-board {
    border: 1px solid #ddd;
    border-left: 3px solid #15B7B9;
    color: #000;
    padding: 10px;
    margin: 10px 0;
}

.notice-board .owl-carousel {
    padding-top: 44px;
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
}

.notice-board .owl-nav .owl-prev,
.notice-board .owl-nav .owl-next {
    display: inline-block;
    margin: 10px;
    border: 1px solid #15B7B9;
    border-radius: 11px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}

/*full notice*/
.full-notice-all {
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
} 
.full-notice button{
    border: 1px solid #15B7B9;
    border-radius: 11px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.modal-title{
    font-family: 'Montserrat Alternates', sans-serif;
}






/*what rotary*/

.what-rotary {
    border: 1px solid #ddd;
    border-left: 3px solid #15B7B9;
    padding: 10px 15px;
    margin: 10px 0;
}

.what-rotary h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.what-rotary p {
    font-family: 'Cardo', serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.what-rotary hr {
    margin-top: 7px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #15B7B9;
    width: 62%;
}






/*news*/

#test-news {
    padding: 30px 0;
}

#test-news .owl-carousel {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    ~box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    border-left: 3px solid #15B7B9;
    margin: 10px 0;
}

.news li {
    list-style: none;
    display: inline;
}

.news i {
    width: 30px;
}

.news i:hover {
    color: #15B7B9;
}

#test-news .news img {
    box-shadow: 0 5px 10px #000;
    margin-top: 26px;
    margin-left: 10px;
}

.news hr {
    border-top: 1px solid #15B7B9;
}

.news-details {
    color: #000;
}

.date-icon {
    font-family: 'Montserrat Alternates', sans-serif;
}

.date-icon,
.share-icon {
    display: inline;
}

.fst-hr {
    margin-bottom: 2px;
}

.scnd-hr {
    margin-top: 0;
}

.share-icon {
    float: right;
    margin-top: -43px;
}

.author {
    margin-top: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.author span {
    background-color: rgba(21, 183, 185, .3);
    padding: 10px;
    border-radius: 30px;
}

.news-heading .main-news a{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #15B7B9;
    text-decoration: none;
}

.news-heading .main-news a:hover{
    text-decoration: none;
}

.news-details {
    font-family: 'Cardo', serif;
    font-size: 16px;
}

#test-news .owl-nav {
    text-align: center;
}

#test-news .owl-nav .owl-prev,
#test-news .owl-nav .owl-next {
    display: inline-block;
    margin: 10px;
    border: 1px solid #15B7B9;
    border-radius: 11px;
    padding: 12px 25px;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
}





/*way best*/

.way-best {
    border: 1px solid #ddd;
    border-left: 3px solid #15B7B9;
    margin: 10px 0;
    padding: 10px 15px;
}

.w-best h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.w-best hr {
    border-top: 1px solid #15B7B9;
}

.w-best ul li {
    font-family: 'Cardo', serif;
    font-size: 17px;
    color: #000;
}


/*object-invocation*/

#object-invocation {
    padding: 30px 0;
}


/*main-invocation*/

.main-invocation {
    border: 1px solid #ddd;
    border-left: 3px solid #15B7B9;
    padding: 10px;
    margin: 10px 0;
}

.invocation h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.invocation hr {
    border-top: 1px solid #15B7B9;
}

.invocation p {
    font-family: 'Cardo', serif;
    font-size: 17px;
    color: #000;
}


/*object*/
.main-object {
    border: 1px solid #ddd;
    border-left: 3px solid #15B7B9;
    margin: 10px 0;
    padding: 10px 15px;
}

.main-object h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.main-object hr {
    border-top: 1px solid #15B7B9;
}

.main-object p {
    font-family: 'Cardo', serif;
    font-size: 17px;
    color: #000;
}


/*footer*/

#copywrite-footer {
    padding: 20px 0;
    background-color: #15B7B9;
    border: 1px solid #eee;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}

#copywrite-footer .cf-left {
    float: left;
}

#copywrite-footer .cf-left h4 {
    color: #fff;
}

#copywrite-footer .cf-right {
    float: right;
}

#copywrite-footer .cf-left i,
#copywrite-footer .cf-left h4,
#copywrite-footer .cf-right {
    display: inline-block;
}