* {
    margin: 0;
    padding: 0;
}

::selection {
    color: #00ADB5;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #15B7B9;
}

.btn-default {
    border: 2px solid #15B7B9;
    background-color: transparent;
    color: #15B7B9;
    border-radius: 11px;
    padding: 15px;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 15px;
}


/*navbar*/

nav {
    text-transform: uppercase;
    color: #15B7B9;
    font-family: 'Montserrat Alternates', sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.14);
}

nav .navbar-brand img {
    width: 100px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 1px 30px;
    font-size: 18px;
    line-height: 20px;
}

@media (max-width: 360px) {
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
    }
}
nav.navbar.bootsnav ul.navbar-center li.dropdown ul.dropdown-menu li a:hover, nav.navbar.bootsnav ul.nav > li > a:hover {
    background-color: #eee; 
}



/*heading*/

.head {
    background-color: #15B7B9;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding: 100px 0;
    margin-top: 80px;
}



/*profile pic*/

.pro-pic {
    margin-top: -65px;
}

.pro-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.fst .pro-pic .user-name {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 3px;
    color: #15B7B9;
    margin-bottom: 0;
}

/*Logout*/
#logout .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    box-shadow: none;
}

#logout .navbar-nav>li {
    border: 1px solid #15B7B9;
    margin: 5px;
    border-radius: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#logout .navbar-nav>li:hover {
    border: 1px solid #000;
    border-radius: 20px;
}

#logout .navbar-default .navbar-nav>li>a {
    color: #15B7B9;
    font-size: 15px;
}
#logout .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 417px;
    padding: 7px;
}

#logout .dropdown-header{
    margin-top: 5px;
    font-size: 16px;
    padding: 3px;
}

#logout .dropdown-item{
    margin-bottom: 10px;
}

#logout .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow-y: scroll;
    opacity: 0;
}

#logout .dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}



/*details*/

.details ul>li {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
}

.details ul>li>a {
    color: #000;
    font-size: 17px;
    /*border: 1px solid #616161;
    border-radius: 5px;*/
}

.nav-tabs {
    border-bottom: 1px solid #616161;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover {
    color: #616161;
    cursor: default;
    background-color: #80deea;
    ~border: 1px solid #616161;
    border-bottom-color: #616161;
}



.nav-tabs>li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-tabs {
    text-align: center;
}




/*sidebar*/


/*.left {
    background-color: #4dd0e1;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    ~position: fixed;
    z-index: 3000;
    ~box-shadow: 1px 3px 15px #000;
}



.profile-data {
    margin-top: 20px;
}*/


/*
.right {
    background-color: #fff;
    z-index: 100;
    overflow-y: scroll;
    font-family: 'Montserrat Alternates', sans-serif;
}

.right .bg-warning {
    background-color: rgba(255,0,0,0.5);
    padding: 15px;
    color: #fff;
    font-size: 16px;
}

.user-nav {
    padding: 0;
}

.navbar{
    border-radius: 0;
}

.navbar-brand {
    padding: 0 10px;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    ~border: 1px solid #15B7B9;
}

nav li {
    font-family: 'Montserrat Alternates', sans-serif;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.user-details {
    padding: 0 20px;
}

.about{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #15B7B9;
}

span{
    margin: 0 20px;
}
*/


/*footer*/

#copywrite-footer {
    padding: 10px 0;
    background-color: #15B7B9;
    border: 1px solid #eee;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}

#copywrite-footer .cf-left {
    float: left;
}

#copywrite-footer .cf-left h4 {
    color: #fff;
}

#copywrite-footer .cf-right {
    float: right;
}

#copywrite-footer .cf-left i,
#copywrite-footer .cf-left h4,
#copywrite-footer .cf-right {
    display: inline-block;
}